~$*
wrk_*
.ipynb_checkpoints/
.idea/
.idea/*
.idea/*.*
/tracker/saved_midi_files/*
!/tracker/saved_midi_files/.gitkeep
tracker/__pycache__/*
/checks/pyt/tests/.pytest_cache/
/checks/pyt/Reports/
/venv/
/.pytest_cache/
/.vscode/
